{% extends "base.html" %}

{% block content %}


    <div class="container">
        <h1 style="text-align:center"> List of Posts: </h1>
        <form method="get" action="" class="row">
             <div class='col-sm-6'>
                <div class="input-group">
                    <input class="form-control" type="text" name="query" placeholder="Search posts" value="{{ request.GET.query }}">
                    <span class="input-group-btn">
{#                        <input class="btn btn-default" type="submit" value="Search">#}
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
             </div>
         </form> <br>

            {% for obj in contacts %}
                <div class="col-sm-6 card" style="width: 30rem; alignment: center; text-align: center">

                        <div class="caption card-body post-detail-item">

                        <h3><a href="{{ obj.get_absolute_url }}" >{{obj.title}}<small>{{obj.timestamp}}</small></a></h3><br>
                            {% if obj.image %}
                            <img src="{{ obj.image.url }}" class="img-thumbnail img-fluid">
                            {%  endif %}
                            {% if obj.user.get_full_name  %}
                            <p><strong> Author: {{ obj.user.get_full_name }}</strong></p>
                            {% endif %}
                            <p class="">{{ obj.get_markdown|truncatechars_html:120 }}</p>
                            <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
                            <br>
                        </div>


                </div>
                <br>
            {% endfor %}

        <div class="pagination">
             <span class="step-links">
            {% if contacts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ contacts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
            </span>

            {% if contacts.has_next %}
                <a href="?page={{ contacts.next_page_number }}{% if request.GET.query%}&query={{ request.GET.query }}{% endif %}">next</a>
                <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
            </span>
        </div>


    </div>



{% endblock %}
